<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
     <!-- 配置Service层逻辑 -->
     <bean id="CotOrderFacService" parent="baseTxProxy">
     	<property name="target">
     		<bean class="com.sail.cot.service.orderfac.impl.CotOrderFacServiceImpl">
     			<property name="cotBaseDao"><ref bean="CotBaseDao"/></property>
     			<property name="queryService"><ref bean="QueryService"/></property>
     			<property name="imgService"><ref bean="CotOpImgService"/></property>
     			<property name="sysLogService"><ref bean="CotSysLogService"/></property>
     			<property name="noService"><ref bean="SetNoService"/></property>
     			<property name="orderService"><ref bean="CotOrderService"/></property>
     			<property name="exportRptDao"><ref bean="CotRptDao"/></property>
     		</bean>
     	</property>
     </bean>    

</beans>