<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
     <!-- 配置Service层逻辑 -->

     <!-- 征样方式配置 -->
     <bean id="CotSignTypeDao" class="com.sail.cot.dao.systemdic.impl.CotSignTypeDaoImpl">
    	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
   	</bean>
     <bean id="CotSignTypeService" parent="baseTxProxy">
     	<property name="target">
     		<bean class="com.sail.cot.service.systemdic.impl.CotSignTypeServiceImpl">
     			<property name="signTypeDao"><ref bean="CotSignTypeDao"/></property>
     		</bean>
     	</property>
     </bean>    

</beans>
