<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
     <!-- 配置Service层逻辑 -->

     <!-- 员工管理配置 -->
     <bean id="CotElementsDao" class="com.sail.cot.dao.sample.impl.CotElementsDaoImpl">
    	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
    	</bean>
     <bean id="CotElementsService" parent="baseTxProxy">
     	<property name="target">
     		<bean class="com.sail.cot.service.sample.impl.CotElementsServiceImpl">
     			<property name="elementsDao"><ref local="CotElementsDao"/></property>
     			<property name="rptDao"><ref bean="CotRptDao"/></property>
     			<property name="sysLogService"><ref bean="CotSysLogService"/></property>
     		</bean>
     	</property>
     </bean>    

</beans>