<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
     <!-- 配置Service层逻辑 -->

     <!-- 员工管理配置 -->
     <bean id="CotRptService" parent="baseTxProxy">
     	<property name="target">
     		<bean class="com.sail.cot.service.sample.impl.CotExportRptServiceImpl">
     			<property name="rptDao"><ref bean="CotRptDao"/></property>
     		</bean>
     	</property>
     </bean>    

</beans>