<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	
	<!-- 配置SSL 
	<login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>Client Cert Users-only Area</realm-name>
    </login-config>
    <security-constraint>
        <web-resource-collection >
            <web-resource-name >SSL</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
	-->

	<!-- 配置Spring上下文 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/spring/applicationContext*.xml,
		</param-value>
	</context-param>

	<filter>
		<filter-name>RegistFilter</filter-name>
		<filter-class>com.sail.cot.filter.RegistFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegistFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>

	<!-- 配置编码格式过滤信息 -->
	<filter>
		<filter-name>EncodeingFilter</filter-name>
		<filter-class>com.sail.cot.filter.EncodeingFilter</filter-class>
		<init-param>
			<description>是否配置编码过滤器</description>
			<param-name>useEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<description>配置使用的编码格式</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodeingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>/servlet/*</url-pattern>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodeingFilter</filter-name>
		<servlet-name>UploadServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodeingFilter</filter-name>
		<servlet-name>UploadFileServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>PtnFilter</filter-name>
		<filter-class>com.sail.cot.filter.PtnWebFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PtnFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/dwr/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.jason.core.web.listener.DefaultApplicationSetupListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	<!-- 配置Struts信息 -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 配置DWR信息 -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>config-common</param-name>
			<param-value>
				/WEB-INF/classes/config/dwr/dwr-company.xml,
				/WEB-INF/classes/config/dwr/dwr-dept.xml,
				/WEB-INF/classes/config/dwr/dwr-emps.xml,
				/WEB-INF/classes/config/dwr/dwr-module.xml,
				/WEB-INF/classes/config/dwr/dwr-role.xml,
				/WEB-INF/classes/config/dwr/dwr-area.xml,
				/WEB-INF/classes/config/dwr/dwr-factory.xml,
				/WEB-INF/classes/config/dwr/dwr-contact.xml,
				/WEB-INF/classes/config/dwr/dwr-city.xml,
				/WEB-INF/classes/config/dwr/dwr-file.xml,
				/WEB-INF/classes/config/dwr/dwr-eleother.xml,
				/WEB-INF/classes/config/dwr/dwr-report.xml,
				/WEB-INF/classes/config/dwr/dwr-elements.xml,
				/WEB-INF/classes/config/dwr/dwr-popedom.xml,
				/WEB-INF/classes/config/dwr/dwr-rolepopedom.xml,
				/WEB-INF/classes/config/dwr/dwr-util.xml,
				/WEB-INF/classes/config/dwr/dwr-importpicture.xml,
				/WEB-INF/classes/config/dwr/dwr-importResult.xml,
				/WEB-INF/classes/config/dwr/dwr-pricefac.xml,
				/WEB-INF/classes/config/dwr/dwr-priceout.xml,
				/WEB-INF/classes/config/dwr/dwr-rpttype.xml,
				/WEB-INF/classes/config/dwr/dwr-rptfile.xml,
				/WEB-INF/classes/config/dwr/dwr-boxtype.xml,
				/WEB-INF/classes/config/dwr/dwr-regist.xml,
				/WEB-INF/classes/config/dwr/dwr-currency.xml,
				/WEB-INF/classes/config/dwr/dwr-customerlv.xml,
				/WEB-INF/classes/config/dwr/dwr-commision.xml,
				/WEB-INF/classes/config/dwr/dwr-clause.xml,
				/WEB-INF/classes/config/dwr/dwr-logininfo.xml,
				/WEB-INF/classes/config/dwr/dwr-nation.xml,
				/WEB-INF/classes/config/dwr/dwr-giventype.xml,
				/WEB-INF/classes/config/dwr/dwr-balancetype.xml,
				/WEB-INF/classes/config/dwr/dwr-meettype.xml,
				/WEB-INF/classes/config/dwr/dwr-nationcity.xml,
				/WEB-INF/classes/config/dwr/dwr-province.xml,
				/WEB-INF/classes/config/dwr/dwr-shipport.xml,
				/WEB-INF/classes/config/dwr/dwr-contract.xml,
				/WEB-INF/classes/config/dwr/dwr-containertype.xml,
				/WEB-INF/classes/config/dwr/dwr-signtype.xml,
				/WEB-INF/classes/config/dwr/dwr-paytype.xml,
				/WEB-INF/classes/config/dwr/dwr-cuttype.xml,
				/WEB-INF/classes/config/dwr/dwr-customertype.xml,
				/WEB-INF/classes/config/dwr/dwr-customer.xml,
				/WEB-INF/classes/config/dwr/dwr-targetport.xml,
				/WEB-INF/classes/config/dwr/dwr-given.xml,
				/WEB-INF/classes/config/dwr/dwr-custcontact.xml,
				/WEB-INF/classes/config/dwr/dwr-customervisitedlog.xml,
				/WEB-INF/classes/config/dwr/dwr-sign.xml,
				/WEB-INF/classes/config/dwr/dwr-price.xml,
				/WEB-INF/classes/config/dwr/dwr-pricecfg.xml,
				/WEB-INF/classes/config/dwr/dwr-order.xml,
				/WEB-INF/classes/config/dwr/dwr-pricesituation.xml,
				/WEB-INF/classes/config/dwr/dwr-calculation.xml,
				/WEB-INF/classes/config/dwr/dwr-traffictype.xml,
				/WEB-INF/classes/config/dwr/dwr-insurecontract.xml,
				/WEB-INF/classes/config/dwr/dwr-mailsend.xml,
				/WEB-INF/classes/config/dwr/dwr-mailrule.xml,
				/WEB-INF/classes/config/dwr/dwr-mailcheck.xml,
				/WEB-INF/classes/config/dwr/dwr-mailcontrol.xml,
				/WEB-INF/classes/config/dwr/dwr-mailcfg.xml,
				/WEB-INF/classes/config/dwr/dwr-mailtree.xml,
				/WEB-INF/classes/config/dwr/dwr-maillocal.xml,
				/WEB-INF/classes/config/dwr/dwr-mailtemplate.xml,
				/WEB-INF/classes/config/dwr/dwr-query.xml,
				/WEB-INF/classes/config/dwr/dwr-elecfg.xml,
				/WEB-INF/classes/config/dwr/dwr-barcode.xml,
				/WEB-INF/classes/config/dwr/dwr-statpopedom.xml,
				/WEB-INF/classes/config/dwr/dwr-tradetype.xml,
				/WEB-INF/classes/config/dwr/dwr-taxtype.xml,
				/WEB-INF/classes/config/dwr/dwr-consigncompany.xml,
				/WEB-INF/classes/config/dwr/dwr-hscompany.xml,
				/WEB-INF/classes/config/dwr/dwr-orderout.xml,
				/WEB-INF/classes/config/dwr/dwr-msgtype.xml,
				/WEB-INF/classes/config/dwr/dwr-orderfac.xml,
				/WEB-INF/classes/config/dwr/dwr-split.xml,
				/WEB-INF/classes/config/dwr/dwr-symbol.xml,
				/WEB-INF/classes/config/dwr/dwr-message.xml,
				/WEB-INF/classes/config/dwr/dwr-syslog.xml,
				/WEB-INF/classes/config/dwr/dwr-setno.xml,
				/WEB-INF/classes/config/dwr/dwr-boxpacking.xml,
				/WEB-INF/classes/config/dwr/dwr-importPic.xml,
				/WEB-INF/classes/config/dwr/dwr-recvmail.xml,
				/WEB-INF/classes/config/dwr/dwr-trailcar.xml,
				/WEB-INF/classes/config/dwr/dwr-sysdicutil.xml,
				/WEB-INF/classes/config/dwr/dwr-audit.xml,
				/WEB-INF/classes/config/dwr/dwr-bank.xml,
				/WEB-INF/classes/config/dwr/dwr-backtax.xml,
				/WEB-INF/classes/config/dwr/dwr-shipcompany.xml,
				/WEB-INF/classes/config/dwr/dwr-financegiven.xml,
				/WEB-INF/classes/config/dwr/dwr-label.xml,
				/WEB-INF/classes/config/dwr/dwr-deal.xml,
				/WEB-INF/classes/config/dwr/dwr-finacerecv.xml,
				/WEB-INF/classes/config/dwr/dwr-recv.xml,
				/WEB-INF/classes/config/dwr/dwr-fittings.xml,
				/WEB-INF/classes/config/dwr/dwr-typelv3.xml,
				/WEB-INF/classes/config/dwr/dwr-library.xml,
				/WEB-INF/classes/config/dwr/dwr-eleprice.xml,
				/WEB-INF/classes/config/dwr/dwr-fittingorder.xml,
				/WEB-INF/classes/config/dwr/dwr-packingorder.xml,
				/WEB-INF/classes/config/dwr/dwr-common.xml,
				/WEB-INF/classes/config/dwr/dwr-typelv2.xml,
				/WEB-INF/classes/config/dwr/dwr-typelv.xml,
				/WEB-INF/classes/config/dwr/dwr-typelv4.xml,
				/WEB-INF/classes/config/dwr/dwr-expcompany.xml,
				/WEB-INF/classes/config/dwr/dwr-modprice.xml,
				/WEB-INF/classes/config/dwr/dwr-emplog.xml,
				/WEB-INF/classes/config/dwr/dwr-custlog.xml,
				/WEB-INF/classes/config/dwr/dwr-seq.xml,
				/WEB-INF/classes/config/dwr/dwr-customize.xml,
				/WEB-INF/classes/config/dwr/dwr-faq.xml,
				/WEB-INF/classes/config/dwr/dwr-days.xml,
				/WEB-INF/classes/config/dwr/dwr-pan.xml,
				/WEB-INF/classes/config/dwr/dwr-org.xml,
				/WEB-INF/classes/config/dwr/dwr-orderstatusfile.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>



	<!--
		<servlet>
		<servlet-name>E3Resource</servlet-name>
		<servlet-class>net.jcreate.e3.resource.impl.ResourceServlet</servlet-class>
		<init-param>
		<param-name>config</param-name>
		<param-value>/WEB-INF/classes/E3.Resource.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		</servlet>
		
		
		
		<servlet-mapping>
		<servlet-name>E3Resource</servlet-name>
		<url-pattern>*.js</url-pattern>
		</servlet-mapping>
		
		<servlet-mapping>
		<servlet-name>E3Resource</servlet-name>
		<url-pattern>*.css</url-pattern>
		</servlet-mapping>
		
	-->
	<servlet>
		<servlet-name>FileUploadCommand</servlet-name>
		<servlet-class>
			com.bjinfotech.practice.ajax.FileUploadCommandService
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadCommand</servlet-name>
		<url-pattern>/uploadCommand.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadMachineServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadMachineServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadMachineServlet</servlet-name>
		<url-pattern>/uploadMachine.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadOrderMachineServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadOrderMachineServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadOrderMachineServlet</servlet-name>
		<url-pattern>/uploadOrderMachine.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadGivenMachineServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadGivenMachineServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadGivenMachineServlet</servlet-name>
		<url-pattern>/uploadGivenMachine.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadCompanyLogoServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadCompanyLogoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadCompanyLogoServlet</servlet-name>
		<url-pattern>/uploadCompanyLogo.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.ShowPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPictureServlet</servlet-name>
		<url-pattern>/showPicture.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowOrgServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.ShowOrgServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowOrgServlet</servlet-name>
		<url-pattern>/showOrg.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>UploadTestServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadTestServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadTestServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/uploadfile.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadReportImgServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadReportImgServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadReportImgServlet</servlet-name>
		<url-pattern>/uploadRptImg.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadReportFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadReportFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadReportFileServlet</servlet-name>
		<url-pattern>/uploadRptFile.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadCustomerPhotoServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadCustomerPhotoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadCustomerPhotoServlet</servlet-name>
		<url-pattern>/uploadCustomerPhoto.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPictureServlet</servlet-name>
		<url-pattern>/uploadPicture.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadElePictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadElePictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadElePictureServlet</servlet-name>
		<url-pattern>/uploadElePicture.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadFittingPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadFittingPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFittingPictureServlet</servlet-name>
		<url-pattern>/uploadFittingPicture.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownPcServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownPcServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownPcServlet</servlet-name>
		<url-pattern>/downPc.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadFitDetailPicServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadFitDetailPicServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFitDetailPicServlet</servlet-name>
		<url-pattern>/uploadFitDetailPic.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadOtherPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadOtherPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadOtherPictureServlet</servlet-name>
		<url-pattern>/uploadOtherPicture.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadLabelPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadLabelPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadLabelPictureServlet</servlet-name>
		<url-pattern>/uploadLabelPicture.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadOrderMBPicServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadOrderMBPicServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadOrderMBPicServlet</servlet-name>
		<url-pattern>/uploadMBPic.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadProductMBPicServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadProductMBPicServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadProductMBPicServlet</servlet-name>
		<url-pattern>/uploadProMBPic.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadSignDetailPicServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadSignDetailPicServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadSignDetailPicServlet</servlet-name>
		<url-pattern>/uploadSignDetailPic.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadGivenDetailPicServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadGivenDetailPicServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadGivenDetailPicServlet</servlet-name>
		<url-pattern>/uploadGivenDetailPic.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadTempPicServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadTempPicServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadTempPicServlet</servlet-name>
		<url-pattern>/uploadTempPic.action</url-pattern>
	</servlet-mapping>
	
	<!-- 邮件附件上传 -->
	<servlet>
		<servlet-name>UploadMailFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadMailFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadMailFileServlet</servlet-name>
		<url-pattern>/uploadMailFile.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadMailEmlFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadMailEmlFileServlet  
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadMailEmlFileServlet</servlet-name>
		<url-pattern>/UploadMailEmlFile.action</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DownRptServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownRptServlet</servlet-name>
		<url-pattern>/downRpt.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownRptServletSD</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderRptSDServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownRptServletSD</servlet-name>
		<url-pattern>/downRptSD.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownPriceServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownPriceRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownPriceServlet</servlet-name>
		<url-pattern>/downPrice.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownOrderPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownOrderPictureServlet</servlet-name>
		<url-pattern>/downOrderPic.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownPanServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownPanServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownPanServlet</servlet-name>
		<url-pattern>/downPan.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownPrsServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownPrsServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownPrsServlet</servlet-name>
		<url-pattern>/downPrs.action</url-pattern>
	</servlet-mapping>
	
	<!-- 条形码 -->
	<servlet>
		<servlet-name>DownBarcodeRptServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownBarcodeRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownBarcodeRptServlet</servlet-name>
		<url-pattern>/downBarcode.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownLabelServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownLabelRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownLabelServlet</servlet-name>
		<url-pattern>/downLabel.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownFitServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownFitRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownFitServlet</servlet-name>
		<url-pattern>/downFit.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownOrderServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownOrderServlet</servlet-name>
		<url-pattern>/downOrder.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadOrderScServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadOrderScServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadOrderScServlet</servlet-name>
		<url-pattern>/uploadOrderSc.action</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>UploadOrderStatusFileServlet</servlet-name>
			<servlet-class>
				com.sail.cot.servlet.UploadOrderStatusFileServlet
			</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>UploadOrderStatusFileServlet</servlet-name>
			<url-pattern>/UploadOrderStatusFile.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownOrderFacServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderFacRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownOrderFacServlet</servlet-name>
		<url-pattern>/downOrderFac.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownOrderOutServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderOutRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownOrderOutServlet</servlet-name>
		<url-pattern>/downOrderOut.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownOrderOutDelServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderOutRptDelServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownOrderOutDelServlet</servlet-name>
		<url-pattern>/downOrderOutDel.action</url-pattern>
	</servlet-mapping>

	<servlet>

		<servlet-name>DownSignServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownSignRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownSignServlet</servlet-name>
		<url-pattern>/downSign.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownGivenServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownGivenRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownGivenServlet</servlet-name>
		<url-pattern>/downGiven.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownFitOrderServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownFitOrderServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownFitOrderServlet</servlet-name>
		<url-pattern>/downFitOrder.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownSplitServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownSplitRptServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownSplitServlet</servlet-name>
		<url-pattern>/downSplit.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownPackOrderServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownPackOrderServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownPackOrderServlet</servlet-name>
		<url-pattern>/downPackOrder.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownMailFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownMailFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownMailFileServlet</servlet-name>
		<url-pattern>/downLoadMailFile.down</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownMailAllFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownMailAllFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownMailAllFileServlet</servlet-name>
		<url-pattern>/downLoadMailAllFile.down</url-pattern>
	</servlet-mapping>

	<!-- 下载盘点机导入文本 -->
	<servlet>
		<servlet-name>CheckMachine</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownCheckMachineServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckMachine</servlet-name>
		<url-pattern>/downCheckMachine.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownDocumentServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownDocumentServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownImportResultServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownImportResultServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownEleRpt</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownEleRptServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownCustServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownCustServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownEleTemplate</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownEleTemplateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownChkRpt</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownChkRptServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownFitTemplate</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownFitTemplateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownElePriceTemplate</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownElePriceTemplateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownOrderTemplate</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderTemplateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownEleCustom</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownEleCustomRptServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownFacServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownFacServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownDocumentServlet</servlet-name>
		<url-pattern>/download.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownEleTemplate</servlet-name>
		<url-pattern>/downloadTpl.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownChkRpt</servlet-name>
		<url-pattern>/downChkRpt.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownFitTemplate</servlet-name>
		<url-pattern>/downloadFitTpl.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownElePriceTemplate</servlet-name>
		<url-pattern>/downloadElePTpl.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownOrderTemplate</servlet-name>
		<url-pattern>/downloadOrderTpl.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownEleCustom</servlet-name>
		<url-pattern>/downloadCustom.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownEleData</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownEleDataServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownEleData</servlet-name>
		<url-pattern>/downEleData.action</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownImportResultServlet</servlet-name>
		<url-pattern>/downImportResult</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownEleRpt</servlet-name>
		<url-pattern>/downloadRpt.action</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownCustServlet</servlet-name>
		<url-pattern>/exportCust.action</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DownFacServlet</servlet-name>
		<url-pattern>/exportFac.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>
			net.sf.jasperreports.j2ee.servlets.ImageServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>DeletePictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DeletePictureServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>TestServletUpload</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.TestServletUpload
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppletServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.AppletServlet
		</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/servlets/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServletUpload</servlet-name>
		<url-pattern>/servlet/TestServletUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppletServlet</servlet-name>
		<url-pattern>/servlet/AppletServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PicUploadServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.PicUploadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicUploadServlet</servlet-name>
		<url-pattern>/servlet/PicUploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>XmlServlet</servlet-name>
		<servlet-class>
			net.sf.jasperreports.j2ee.servlets.XmlServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XmlServlet</servlet-name>
		<url-pattern>/servlets/xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownServlet</servlet-name>
		<servlet-class>com.sail.cot.servlet.DownServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownServlet</servlet-name>
		<url-pattern>/downPicture.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownPicServlet</servlet-name>
		<servlet-class>com.sail.cot.servlet.DownPicsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownPicServlet</servlet-name>
		<url-pattern>/downPics.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownRecvMailAttServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownRecvMailAttServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownRecvMailAttServlet</servlet-name>
		<url-pattern>/downRecvAttach.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownOrderStatusFileServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DownOrderStatusFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownOrderStatusFileServlet</servlet-name>
		<url-pattern>/downOrderStatusFile.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadOrderPcServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadOrderPcServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadOrderPcServlet</servlet-name>
		<url-pattern>/uploadOrderPc.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadOrderPcPdfServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadOrderPcPdfServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadOrderPcPdfServlet</servlet-name>
		<url-pattern>/uploadOrderPcPdf.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadCustPcServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadCustPcServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadCustPcServlet</servlet-name>
		<url-pattern>/uploadCustPc.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadCustPcPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadCustPcPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadCustPcPictureServlet</servlet-name>
		<url-pattern>/uploadCustPcPicture.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>DataSelvert</servlet-name>
	    <servlet-class>com.sail.cot.servlet.DataSelvert</servlet-class>
	</servlet>
  	<servlet-mapping>
   		<servlet-name>DataSelvert</servlet-name>
    	<url-pattern>/servlet/DataSelvert</url-pattern>
 	 </servlet-mapping>	 
 	 
 	 <servlet>
		<servlet-name>UploadExlServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadExcelServlet
		</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>DownStaticsticRptServlet</servlet-name>
    <servlet-class>com.sail.cot.servlet.DownStaticsticRptServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>UploadExlServlet</servlet-name>
		<url-pattern>/uploadExl.action</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownStaticsticRptServlet</servlet-name>
    <url-pattern>/downStaticstic.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>UploadPanOtherPictureServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.UploadPanOtherPictureServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPanOtherPictureServlet</servlet-name>
		<url-pattern>/uploadPanOtherPicture.action</url-pattern>
	</servlet-mapping>
  	<servlet>
		<servlet-name>OnlineServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.OnlineServlet
		</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>UploadPanPriceHisServlet</servlet-name>
    <servlet-class>com.sail.cot.servlet.UploadPanPriceHisServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownPanAttachServlet</servlet-name>
    <servlet-class>com.sail.cot.servlet.DownPanAttachServlet</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>OnlineServlet</servlet-name>
		<url-pattern>/servlet/OnlineServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPanPriceHisServlet</servlet-name>
    <url-pattern>/servlet/UploadPanPriceHisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownPanAttachServlet</servlet-name>
    <url-pattern>/servlet/DownPanAttachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>DataPropedomServlet</servlet-name>
		<servlet-class>
			com.sail.cot.servlet.DataPropedomServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataPropedomServlet</servlet-name>
		<url-pattern>/servlet/DataPropedomServlet</url-pattern>
	</servlet-mapping>
  <listener>
		<listener-class>
			com.sail.cot.listener.LoginOutListener
		</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>

